aside {
    width: 210px;
    height: 100%;
    flex-shrink: 0;
    padding: 10px;
    li {
        padding: 0 10px;
        transition: all .3s;
        a {
            display: inline-block;
            padding: 10px 0;
            color: white;
            text-decoration: none;
            transition: all .3s;
            width: 100%;
        }
        &:hover {
            background-color: rgba(254, 254, 254, 0.2);
            a {
                color: $primary;
                font-weight: bold;
            }
        }
    }
}
